{% extends "base.html" %}
{% load i18n %}

{% block banner %} 
<div class="navbar">
    <div class="home__block1">
      <div class="home--square">
        <div class="home--content">
          <div class="home--content-wrapper">
            <div class="home--content-inner">
              <h1>{% trans "UPTO 50% Off Designer Jewelry" context "Homepage title" %}</h1>
              <h2>{% trans "from the NYK" context "Homepage title" %}</h2>
                <!--<a class="btn btn-secondary home__button" href="#">
                    {% trans "Shop now" context "Homepage action" %}
                </a>-->
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}      
      <!--<div class="row">
        <div class="col-sm-12 col-md-6 home__block2">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Size &amp; Colours" context "Homepage title" %}</h1>
                  <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 home__block3">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Digital Downloads" context "Homepage title" %}</h1>
                  <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "category/_items.html" %}
        </div>
      </div>
    </div>

{% endblock %}
